/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:  #ffffff;
  --destaque: #007BFF;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}
body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5em;
background-color: var(--fundo-principal);
color: var(--texto);
}
header {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  padding: 10px;
 /* padding: 1rem 0;
  text-align: center;*/
  display: flex;
  justify-content:flex-end;/* alinha o conteúdo à direita */
  align-items: center;/* alinha o conteúdo verticalmente */
}
nav#menu ul{

 list-style: none;/* remove marcadores da lista */
  display: flex;/* transforma em flexbox */
  
  gap: 10px;/* espaçamento entre os itens */
}
nav#menu a{
  text-decoration: none;/* remove sublinhado */
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color:var(--destaque) ;
}
main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 90vw auto;/* três colunas: automática, 90% da largura da viewport, automática */
}
section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;/* posiciona na segunda coluna da grid */
}
section#ficha img.foto{
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;/* mantém proporção quadrada */
  border-radius: 50%;/* torna a imagem circular */
  object-fit: cover;/* garante que a imagem preencha o espaço sem distorção */
  border: 5px solid var(--fundo-card);/* borda vermelha ao redor da imagem */
  outline: 5px solid var(--destaque);/* contorno verde ao redor 
  da borda */
 display: block;/* transforma em bloco para aplicar margin */
 margin: auto;/* centraliza horizontalmente */
 margin-bottom:15px ;

}
section#ficha h1{
  color: var(--destaque);
  text-align:left;
  margin-bottom: 15px 0;
  font-size: 1.5em;
}
div#social{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.6em;
  align-items: center;
  margin-top: 15px;
}
div.social a  {
 color:  var(--destaque);
  transition: color 0.5s;
}
div.social  a:hover {
  background-color: var(--destaque);
  color: var(--destaque-inverso);
}
section#detalhes {
  grid-column: 2;/* posiciona na segunda coluna da grid */
 
}
article {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
article h2 {
  color: var(--destaque);
  margin-bottom: 15px;
  font-size: 1.3em;
  padding: 5px;
}
article#video .video-container {
  position: relative;
  padding-bottom: 56.25%; /* proporção 16:9 */
  width: 100%;
 
  overflow: hidden;/* esconde qualquer conteúdo que ultrapasse os limites */
  border-radius: 8px;
  margin: auto;
  aspect-ratio: 16/9; /* mantém proporção 16:9 */
  border: 5px solid red;
}
article#video .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}